<div class="container">
    <br/>
    <div class="row">
        <%= @information.info %> <%= @information.month %>.??.<%= @information.year %>
    </div>
    
    
    
    <%= form_for(@guess) do |f| %>
      <% if @guess.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@guess.errors.count, "error") %> prohibited this guess from being saved:</h2>
    
          <ul>
          <% @guess.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.hidden_field :kind, :value => 4 %>
      <%= number_field_tag(:month) %>
      <%= number_field_tag(:day) %>
      <%= number_field_tag(:year) %>
      </div>
    </div>
    
      
      
      
     <button class="btn waves-effect waves-light" type="submit" name="action">Guess<i class="material-icons right">send</i></i></button>
    
    <% end %>
    
</div>

<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/picker.js"></script>
  <script src="js/init.js"></script>