<div  class = "container">
    <div class="row">
  <%= form_for(@guess) do |f| %>
    <% if @guess.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@guess.errors.count, "error") %> prohibited this guess from being saved:</h2>
  
        <ul>
        <% @guess.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  <%= @information.info %> <%= @information.day %>.??.<%= @information.year %>
    </div>
    <div class="row">
    <div class="input-field col s2">
      
      <%= f.number_field :answer, :min => "1", :max => "12", :class => "validate", required: true, length: 2 %>
      <%= f.label "Month", :'data-error' => "1to12", :'data-success' => "Valid!" %>
    </div>
  
  
    
    <%= f.hidden_field :kind, :value => 1 %>
    

    </div>
<div class="row">
    
      <%= f.submit class: 'btn' %>
    
    </div>    
  <% end %>
</div>