  <div class="container">
    <div class="row">
  <%= form_for(@guess) do |f| %>
    <% if @guess.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@guess.errors.count, "error") %> prohibited this guess from being saved:</h2>
  
        <ul>
        <% @guess.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  <%= @information.info %> <%= @information.day %>.<%= @information.month %>.????
    </div>
    <div class="row">
    <div class="input-field col s2">
      
      <%= f.number_field :answer, :min => "0", :max => "2015", :class => "validate", required: true, length: 4 %>
      <%= f.label "Year", :'data-error' => "0to2015", :'data-success' => "Valid!" %>
    </div>
  </div>
  
    
    <%= f.hidden_field :kind, :value => 3 %>
    
    <div class="actions">
      <%= f.submit class: 'btn' %>
    </div>
  <% end %>
</div>